@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.box4 .rocket {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

.box7 .blip {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

.box6 .heli {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@keyframes block {
  0% {
    left: 480px;
  }
  100% {
    left: -40px;
  }
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}
